@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UdC Report</h1>
    <p class="lead">En este sitio se podrán realizar los reportes de daños en la infraestructura de la universidad.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Administrador</h2>
        <p>
            El Administrador será el encargado de gestionar usuarios y ver todos los reportes generados. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Personal de Aseo</h2>
        <p>
            El personal de aseo podrá visualizar los reportes relacionados a su labor asignada en servicios generales de aseo.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Personal Reparación</h2>
        <p>El personal de reparación podrá visualizar los reportes relacionados a su labor asignada de mantenimiento y reparación.</p>
       
    </div>
</div>